 @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@700&family=Lato:wght@700&family=Nunito+Sans:opsz,wght@6..12,700&family=Nunito:wght@1000&family=Open+Sans:wght@600;800&family=Poppins:wght@300&family=Raleway:ital,wght@0,100;0,200;0,600;1,200;1,300;1,600&family=Roboto+Slab:wght@700;900&family=Roboto:wght@500&display=swap');
body{
  font-family: Poppins,sans-serif;
  margin: 0;
  font-size: 1.1em;
}
ul,li,p,h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}
.btn{
  background: none;
  border: 2px solid #1f9751;
  padding: 6px 12px;
  border-radius: 4px;
  color: #1f9751;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover{
  background: #1f9751;
  color: #fff;
}